/* General */
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f6f6f6;
}
main {
    margin-top: 100px;
}

/* header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #f3f3f3;
    color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 7em;
    margin: 0;
}
.menu-list {
    list-style: none;
    padding: 0;
    display: flex; 
}
.menu-item {
    margin-right: 20px;
    position: relative; 
}
.menu-link {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.sub-menu .menu-link::after {
    content: '\25BC'; 
    margin-left: 5px;
}
.sub-menu-items .no-arrow .sub-menu-link::after {
    content: none;
}
.sub-menu:hover .sub-menu-items {
    display: block;
}
.sub-menu-items {
    display: none;
    position: absolute;
    background-color: #fffffe;
    padding: 10px;
    top: 100%;
    left: 0;
    z-index: 1;
}
.sub-menu-item {
    margin: 5px 0;
}
.sub-menu-items .no-arrow .sub-menu-link::after {
    content: none;
}
.menu-link:hover, .sub-menu-items .sub-menu-link:hover {
    color: #bc7c2c;
}
.menu-link.active {
    color: #bc7c2c;
}
/* index */
.index{
    align-items: center;
    width: 80%;
    margin: 0 20%;
    padding: 0.5em 0 2em 0;
    opacity: 30%;
    height: 65vh;
}

/*Succes*/
.success-page {
    text-align: center;
    padding: 20px;
}
.success-title {
    font-size: 36px;
    font-weight: bold;
    color: #1a4867; 
}
.success-title:hover{
    color: #c99656;
}
.success-message {
    font-size: 18px;
    color: #333; 
    margin: 2em 0;
}
.success-image {
    max-width: 200px;
    background: #fff; 
    border-radius: 3em;
    border: #333;
    padding: 1em;
}
.success-image:hover{
    background-color: #c99656;
}
/*error bd*/
.error-page {
    text-align: center;
    margin: 100px auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.error-title {
    font-size: 24px;
    font-weight: bold;
    color: #ff0000; 
}
.error-message {
    font-size: 18px;
    margin: 20px 0;
}
.error-image {
    max-width: 100%;
    height: auto;
}
.error-link {
    display: block;
    text-decoration: none;
    background-color: #ff0000; 
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s;
}
.error-link:hover {
    background-color: #cc0000; 
}
/* footer */
.footer {
    background-color: #f3f3f3; 
    color: gray;
    padding: 20px 0;
}
.footer-top {
    display: flex; 
    justify-content: space-between;
}
.footer-section {
    flex: 1; 
    padding: 0 10px; 
}
.foot-title{
    color: #1a4867;
    font-weight: bold;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section li {
    margin: 5px 0;
}
.social-icons li {
    display: inline; 
    margin-right: 10px; 
}
.social-icons i {
    font-size: 24px; 
    color: #fff;
}
.footer-bottom {
    text-align: center; 
    margin-top: 20px; 
}
